
@import "./reset";

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

@media(max-width: 530px) {
    .detailed-country-card {
        .text-container {
            .details-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

        }
    }
}
