// 1. reset
// 2. variables
// 3. mixins
// 4. general stlyes
// 5. header
// 6. search section
// 7. country list
// 8. country cards
// 9. detailed page
// 10. dark styles

// 1. reset
@import "./reset";

// 2. variables
@import "./variables";

// 4. general styles
body, .App {
    background-color: $very-light-gray;
    min-height: 100vh;
}
a {
    text-decoration: none;
    display: inline-block;
    color: black;
}


// 6. search section
.search-bar {
    width: 50%;
}

// 9. detailed page
.detailed-page {
    padding: 3rem;
}
.back-link, .country-link {
    cursor: pointer;
    margin: .2rem;
    font-weight: 300;
    background-color: $white;
    display: inline-block;
    border-radius: 5px;
    border: black 1px solid;
    padding: .5rem 2rem;
}

@media(max-width: 530px) {
    .detailed-country-card {
        .text-container {
            .details-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

        }
    }
}

// 10. dark styles
[data-dark="true"] {
    background-color: $dark-blue;
    color: $white;
}
:is(main, label, .App)[data-dark="true"] {
    background-color: $very-dark-blue;
}